@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --manifold-text--font-family--body: var(--din-font);
  --manifold-text--font-family--header: var(--din-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: var(--manifold-text--color--body);
    background: var(--manifold-page--color--background);
  }
}

/* do not display image on Click to learn more card */
.no-image img {
  display: none;
}
