@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: var(--manifold-text--color--body);
    background: var(--manifold-page--color--background);
  }
}
